venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
*.tfvars.json.backup

*.terraform
*.terraform.lock.hcl
*.terraform.lock.hcl.backup
*.terraform.lock.hcl.backup.lock
*.terraform.lock.hcl.backup.lock.backup
*.terraform.lock.hcl.backup.lock.backup.backup



.DS_Store

